
 <div id="getting-started"></div>
 <script type="text/javascript">3  
 $("#getting-started").countdown("2016/04/11", function(event) {
     $(this).text(
       event.strftime('%D days %H:%M:%S')
     );
   });
 </script>